<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1"
        />
        <title> {{title}}</title>
    </head>
    <body>
        <h1>{{header}}</h1>
        <p>
            Созданный массив: {{mass}}
            Отсортированный массив: {{sortmass}}
        </p>
    </body>
</html>